aiohttp
aiosignal
async-timeout
asyncpg
attrs
beautifulsoup4
certifi
charset-normalizer
discord.py
demoji
dotenv
frozenlist
google-genai
idna
imgkit
Pillow
langdetect
lxml
multidict
python-dotenv
requests
Reverso-API
six
soupsieve
urllib3
yarl